.form_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    max-width: 100%;
    padding: 1rem;
    /* height: 34rem; */
    border-radius: var(--border-2);
    border: 1px solid var(--dark-grey);
}

.divide {
    display: grid;
    place-items: center;
    font-family: "Switzer";
    width: 100%;
    font-size: var(--font-size);
    font-weight: normal;
    border-bottom: 1px solid var(--dark-grey);
    color: var(--light-grey);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.submit {
    display: grid;
    place-items: center;
    justify-self: flex-end;
    background-color: var(--green);
    font-family: "Switzer";
    font-size: var(--font-size);
    font-weight: 500;
    border-radius: var(--border-1);
    border: none;
    color: var(--bg)
}

.header {
    font-family: "Switzer";
    font-size: var(--font-size);
    color: var(--light-grey);
}

.redirect {
    display: inline-flex;
    place-self: center;
    font-family: "Switzer";
    font-size: var(--font-size-small);
    font-weight: normal;
    color: var(--light-grey);
    white-space: pre-wrap;
    
}

.redirect a {
    color: var(--green)
}

.login_page {
    display: grid;
    grid-template-columns: 25% auto;
    width: 100vw;
    height: 100vh;
}