.create_post_wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    width: calc(100%);
    height: calc(100%);
    place-items: center;
    overflow-y: auto;
    /* gap: 1rem; */
}

.create_post_wrap_forms {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid var(--dark-grey);
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}

.create_post_preview {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.create_post_header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: "Switzer";
    font-weight: normal;
    font-size: var(--font-size-small);
    color: var(--light-grey);
}

.pick_community_wrap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    width: calc(100% - 2rem);
    border-radius: var(--border-1);
    outline: 1px solid var(--dark-grey);
    padding: 1rem;
    font-family: "Switzer";
    font-weight: normal;
}

.pick_community_wrap input {
    font-family: "Switzer";
    font-weight: normal;
    font-size: var(--font-size);
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

.pick_community_wrap input::placeholder {
    font-family: "Switzer";
    font-weight: normal;
    color: var(--light-grey)
}

.pick_community_placeholder_profile {
    display: grid;
    width: var(--font-size);
    height: var(--font-size);
    border-radius: 50%;
    outline: 1px dashed var(--green);
}

.create_post_form_wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.pick_community_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.text_post_wrap {
    position: relative;
    display: grid;
    place-items: center;
    resize: none;
    outline: 1px solid var(--dark-grey);
    width: calc( 100% - 2rem );
    height: fit-content;
    min-height: 10rem;
    background-color: transparent;
    border: none;
    font-family: "Switzer";
    font-size: var(--font-size);
    font-weight: normal;
    padding: 1rem 1rem;
    color: var(--font-color);
    z-index: 3;
}

.media_text {
    display: grid;
    place-self: center;
    font-family: "Switzer";
    font-size: var(--font-size);
    font-weight: normal;
    color: var(--light-grey)
}

.text_post_wrap input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.text_post_wrap input::placeholder {
    color: var(--light-grey)
}

.text_post_wrap[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.submit_wrap {
    display: inline-flex;   
    gap: 1rem;
}

.img_preview_wrap {
    display: grid;
    place-self: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-2);
}