@keyframes loading {
    0% {
        background-position: 110% 0;    
    } 100% {
        background-position: -10% 0;
    }
}

.loading {
    display: flex;
    width: 5%;
    height: calc(var(--font-size) + .5rem);
    border-radius: .2rem;
    margin: .5rem;
    background: linear-gradient( to left, var(--bg), var(--light-grey), var(--bg) );
    background-size: 400% 100%;
    background-repeat: none;
    background-position: -10% 0;
    animation: loading 1s ease infinite;
}