.navbar_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: calc(100% - 2rem);
    height: 3rem;
    border-bottom: 1px solid var(--dark-grey);
}