.top_nav_wrap {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px solid var(--dark-grey);
    margin-bottom: -1px;
}

.nav_switch_wrap {
    display: grid;
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-template-rows: 100%;
    overflow: hidden;
    height: 3rem;
    transition: all 240ms ease;
}

.nav_switch_wrap * {
    font-size: inherit !important;
}

.nav_switch_element {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px solid var(--dark-grey);
    /* height: m    in-content; */
    /* margin-bottom: -1px; */
    overflow: hidden;
    transition: all 240ms ease;
}

.nav_switch_element_underline {
    position: absolute;
    content: "";
    display: flex;
    justify-self: flex-start;
    top: 98%;
    width: 0%;
    height: 1px;
    background-color: var(--green);
    transition: all 350ms ease-out;
}

.nav_switch_element:hover .nav_switch_element_underline {
    width: 100% !important;
}

.nav_bottom_wrap {
    display: inline-flex;
    gap: 3rem;
    padding: .5rem 0;
    border-top: -1px;
    border: 1px solid var(--dark-grey);
    align-items: center;
    justify-content: center;
}