.form_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    width: calc( 100% - 2px );
    height: auto;
    background-color: var(--bg);
    border: 1px solid var(--dark-grey);
    border-radius: var(--border-1);
    font-family: "Switzer";
    font-weight: bold;
}

.form_wrap * {
    color: var(--light-grey)
}

.form_wrap input {
    outline: none;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border: none;
    font-family: "Switzer";
    font-size: var(--font-size);
    font-weight: normal;
    margin: 0 1rem;
    color: var(--font-color);
}

.form_wrap input::placeholder {
    opacity: 0;
    margin: 1rem 0;
}

.form_label {
    position: absolute;
    font-size: var(--font-size);
    left: 1rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Switzer";
    font-size: var(--font-size);
    font-weight: normal;
    transition: all 300ms ease;
}

.form_wrap:active .form_label,  
.form_wrap:focus-within .form_label,
input:not( :placeholder-shown ) + .form_label {
    transform: translate(0, -100%);
}
